{% extends 'TechCorpFrontBundle::layout.html.twig'%}

{% block content %}
    <div class = "jumbotron">
        <div class = "container">
            <h1>Hello World ! </h1>
                <p>Ceci est la page d'acceuil de notre application, que nous allons 
                completer au fur et a mesure des chapitres du livres</p>
                <p><a class = "btn btn-primary btn-lg" role = "button" href = "{{url('tech_corp_front_homepage')}}">En savoir plus >></a></p>
        </div>
    </div>
{% endblock content %}